src/main/resources/potato-service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.soap.william.me/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.soap.william.me/" name="PotatoServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.soap.william.me/" schemaLocation="http://localhost:8000/services/Potato?xsd=1"/>
</xsd:schema>
</types>
<message name="addPotato">
<part name="arg0" type="tns:potato"/>
</message>
<message name="addPotatoResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="deletePotato">
<part name="arg0" type="xsd:int"/>
</message>
<message name="deletePotatoResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="getPotato">
<part name="arg0" type="xsd:int"/>
</message>
<message name="getPotatoResponse">
<part name="return" type="tns:potato"/>
</message>
<message name="getAllPotatoes"/>
<message name="getAllPotatoesResponse">
<part name="return" type="tns:potatoArray"/>
</message>
<portType name="PotatoService">
<operation name="addPotato">
<input wsam:Action="http://service.soap.william.me/PotatoService/addPotatoRequest" message="tns:addPotato"/>
<output wsam:Action="http://service.soap.william.me/PotatoService/addPotatoResponse" message="tns:addPotatoResponse"/>
</operation>
<operation name="deletePotato">
<input wsam:Action="http://service.soap.william.me/PotatoService/deletePotatoRequest" message="tns:deletePotato"/>
<output wsam:Action="http://service.soap.william.me/PotatoService/deletePotatoResponse" message="tns:deletePotatoResponse"/>
</operation>
<operation name="getPotato">
<input wsam:Action="http://service.soap.william.me/PotatoService/getPotatoRequest" message="tns:getPotato"/>
<output wsam:Action="http://service.soap.william.me/PotatoService/getPotatoResponse" message="tns:getPotatoResponse"/>
</operation>
<operation name="getAllPotatoes">
<input wsam:Action="http://service.soap.william.me/PotatoService/getAllPotatoesRequest" message="tns:getAllPotatoes"/>
<output wsam:Action="http://service.soap.william.me/PotatoService/getAllPotatoesResponse" message="tns:getAllPotatoesResponse"/>
</operation>
</portType>
<binding name="PotatoServiceImplPortBinding" type="tns:PotatoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="addPotato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.soap.william.me/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.soap.william.me/"/>
</output>
</operation>
<operation name="deletePotato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.soap.william.me/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.soap.william.me/"/>
</output>
</operation>
<operation name="getPotato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.soap.william.me/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.soap.william.me/"/>
</output>
</operation>
<operation name="getAllPotatoes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.soap.william.me/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.soap.william.me/"/>
</output>
</operation>
</binding>
<service name="PotatoServiceImplService">
<port name="PotatoServiceImplPort" binding="tns:PotatoServiceImplPortBinding">
<soap:address location="http://localhost:8000/services/Potato"/>
</port>
</service>
</definitions>